<a href="https://colab.research.google.com/github/AbhishekAA002/Machine-Learning/blob/main/TOTAL%20PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


WHAT IS PANDAS ?

PANDAS IS A PYRHON LIBRARY
USED TO ANALYZE DATA 
->PANDAS IS USED FOR WORKING WITH DATA SETS
->THE NAME PANDA REFERS TO BOTH "PANEL DATA " AND 'PYTHONN DTA ANALYSIS'
->THIS WAS CREATED BY NUKINNEY IN 2008

WHY USE OF PANDAS ?

PANDAS ALLOWS US TO ANALYZE BIG DATA AND MAKE CONCLUSIONS BASED ON STATISTICAL THEORIES.
-> PANDAS CAN CLEAN MESSY DATA SETS , AND MAKE THEM MORE READABLE AND RELAVENT.
->RELEVENT DATA IS MORE IMPORTTANT IN DTA SCIENCE.

WHAT IS SERIES ? (COLUMN)

A PANDAS SERIES IS LIKE A COLUMN IN A TABLE .
IT IS AN ONE DIMENSIONAL ARRAYY HOLDING OF ANY DATA TYPE

In [17]:
import pandas as pd
#importing pandas

In [18]:
nums = [11,12,13,14,15,'ABHI']
var = pd.Series(nums)
var

0      11
1      12
2      13
3      14
4      15
5    ABHI
dtype: object

2. LABELS 
(DEFAULT LABELS)

IF NORTHING IS SPECIFIED , THE VALUES ARE LABELED WITH THEIR INDEX NUMBER ,. THE FIRST VALUE HAS INDEX ZERO ,...

THE LABEL CAN ALSO BE USED TO ACCESS SPECIFIED VALUE

In [19]:
#Northing like indexing like an array but it's like a column in an excel 
#the each row value is by default as index from 0 to n-1 so each row can be acced with index 
var[0]
var[1]
#[var[i] for i in range(6)]

12

2.1 CREATIONOF LABELS 

(USING INDDEX ARGUMENT)

In [20]:
li = [12,13,14,15,16]
s1 = pd.Series(li,index = ['a','b','c','d','e'])
s1

a    12
b    13
c    14
d    15
e    16
dtype: int64

In [21]:
s1['a']

12

2.2 KEY / VALUE OBJECT AS SERIES 

(NOTE : KEYS ARE LABLES AND VALUES ARE THE SERIES)

In [22]:
dic = {'Name_1':'Abhishek','Name_2':'Monkey','Nmae_3':'Donkey'}
s2 = pd.Series(dic)
s2

Name_1    Abhishek
Name_2      Monkey
Nmae_3      Donkey
dtype: object

In [23]:
#CREATE SERIES INLY USING NAME_1 AND NAME_2
s3 = pd.Series(dic,index = ['Name_1','Name_2'])
s3

Name_1    Abhishek
Name_2      Monkey
dtype: object

3.DATA FRAMES 

DATA FRAME IS A 2 -D DATA STRUCTURE , LIKE A 2 DIMENSIONAL ARRAY , OR A TABLE WITH ROWS AND COLUMNS .

DATA SETS IN THE PANDAS ARE USUVALLY MULTI - DIMENSIONAL TABELS , CALLED DATA FRAMES 

SERIES : - A COLUMN
DATA FRAME : - A WHOLE TABLE

DATA FRAME 
___________________________________
|_______|___________|___________|_|
|       |                         |
|                                 |
|                                 |
|                                 |
|                                 |
|                                 |
|                                 |
|                                 |
|_________________________________|

In [24]:
#CREATING DATA FRAME FROM TWO SERIES 
series = {
    'Calories':[420,380,390,400],'Duration':[50,40,45,49]
}
df = pd.DataFrame(series)
df

   Calories  Duration
0       420        50
1       380        40
2       390        45
3       400        49

3.1 LOCATE ROW  loc[] ##warning square


AS YOU SEEN FROM THE ABOVE RESULT , THE DATA FRAME IS LIKE A TABLE WITH ROWS AND COLUMS.

PANDAS USE (loc) ATTRIBUTE TO RETURN ONE (OR) MORE SPECIFIED ROWS (ROWSSSSSSSSSSSSSSSSSS)


---

In [25]:
#locating 1st row of the data frame []
df.loc[0]

Calories    420
Duration     50
Name: 0, dtype: int64

In [26]:
#Locating Multiple rows [[]]
df.loc[[0,1,2,3]]

   Calories  Duration
0       420        50
1       380        40
2       390        45
3       400        49

3.2  NAMED INDEX

In [27]:
data = {
    'Name ':['Abhi','Monkey','Cat','Dog'],
    'Age' : [19,20,21,12]
}
df = pd.DataFrame(data,index=['n1','n2','n3','n4'])
df

     Name   Age
n1    Abhi   19
n2  Monkey   20
n3     Cat   21
n4     Dog   12

In [28]:
#To locate rows in multidimensional data frame [[ parameters ]]
df.loc[['n1','n2','n3']]

     Name   Age
n1    Abhi   19
n2  Monkey   20
n3     Cat   21

4.LOAD FILES INTO DATAFRAME


IF YOUR DATA SETS ARE STORED IN A FILE PANDAS CAN LOAD IT

CSV (COMMA SEPARATED VALUE FILE )
PANDAS CAN LOAD CSV FILE USING read_csv method 
parameters are the location and the file name

In [16]:
from google.colab import files
fil = files.upload()

TypeError: ignored

In [29]:
dfss = pd.read_csv('https://www.w3schools.com/python/pandas/data.csv.txt')
dfss

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

5. PANDAS CSV FILES
max_rows The Number of rows returned is defined in pandas option settings.

In [30]:
pd.options.display.max_rows = 9999
dfss

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

5. JSON FILES 

FORMAT (.JSON)
THESE FILE WIL STORE THE DATA IN FORM OF DICTIONARY IN PYTHON ....

Big data sets are often stored, or extracted as JSON.

JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas.

In our examples we will be using a JSON file called 'data.json'.

In [31]:
df = pd.read_json('https://www.w3schools.com/python/pandas/data.js')
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.5
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.5
37         60    100       120     300.1
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.1
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

6. PANDAS ANALYZING DATA FRAMES

6.1 VIEWING OF DATA 
-> HEAD

In [32]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [33]:
df.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [34]:
df.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [35]:
df.tail(10)

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [36]:
#information of te data frame
df.info()

'''
The info() method also tells us how many Non-Null values there are present in each column, and in our data set it seems like there are 164 of 169 Non-Null values in the "Calories" column.

Which means that there are 5 rows with no value at all, in the "Calories" column, for whatever reason.

Empty values, or Null values, can be bad when analyzing data, and you should consider removing rows with empty values. This is a step towards what is called cleaning data, and you will learn more about that in the next chapters.


'''

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.6 KB

'\nThe info() method also tells us how many Non-Null values there are present in each column, and in our data set it seems like there are 164 of 169 Non-Null values in the "Calories" column.\n\nWhich means that there are 5 rows with no value at all, in the "Calories" column, for whatever reason.\n\nEmpty values, or Null values, can be bad when analyzing data, and you should consider removing rows with empty values. This is a step towards what is called cleaning data, and you will learn more about that in the next chapters.\n\n\n'

6. PANDAS - CLEANING EMPTY CELLS

NOTE : - EMPTY CELLS CAN POTENTIALLY GIVES WRONG RESULTS WHEN YOU ANALYZE THE DATA

Remove Rows

In [37]:
#TO REMOVE ROWS THAT CONTAIN EMPTY CELLS
#df = pd.read_csv()
import pandas as pd
data = {
'Name':['Abhi','DON','PANDA','CAT','DOG',None,None],
'Age':[19,22,22,34,35,39,40]
    }
df = pd.DataFrame(data)
print('Data Frame with Contains empty cells \n',df)

ndf = df.dropna()
print('New Data Frame withnon empty rows : \n',ndf)

Data Frame with Contains empty cells
     Name  Age
0   Abhi   19
1    DON   22
2  PANDA   22
3    CAT   34
4    DOG   35
5   None   39
6   None   40
New Data Frame withnon empty rows :
     Name  Age
0   Abhi   19
1    DON   22
2  PANDA   22
3    CAT   34
4    DOG   35

7.) REPLACE EMPTY VALUES 

dropna()
fillna(value)

inplace = True (changes original data frame without creating the new onne )


Another way of dealing with empty cells is to insert a new value instead
The fillna() method allows us to relace empty cells with a value

In [38]:
#implace =True will modify the current data frame istead of returning the new one
ddf = df.fillna(130)
ddf

    Name  Age
0   Abhi   19
1    DON   22
2  PANDA   22
3    CAT   34
4    DOG   35
5    130   39
6    130   40

REPLACE THE DATA FRAME VALUES ONLY WITH SPECIFIED COLUMN NAME 

NOTE : TO ONLY REPLACE EMPTY VALUES FOR ONE COLUMN , SPECIFY THE COLUMN NAME FOR THE DATA FRAME

In [39]:
print('Current data frame : \n',df)
#ndf = df['Name'].fillna(22)
df['Name'].fillna(22,inplace = True)
print('UPDATED DATA FRAME : \n',df)

Current data frame :
     Name  Age
0   Abhi   19
1    DON   22
2  PANDA   22
3    CAT   34
4    DOG   35
5   None   39
6   None   40
UPDATED DATA FRAME :
     Name  Age
0   Abhi   19
1    DON   22
2  PANDA   22
3    CAT   34
4    DOG   35
5     22   39
6     22   40

In [40]:
print(df['Name'])
print(df.loc[[0,1,2,3,4]])

0     Abhi
1      DON
2    PANDA
3      CAT
4      DOG
5       22
6       22
Name: Name, dtype: object
    Name  Age
0   Abhi   19
1    DON   22
2  PANDA   22
3    CAT   34
4    DOG   35

MEAN MODE MEDIAN

MEAN

In [41]:
#Mean 
#Average of all the given ....
x = df['Age'].mean()
x

30.142857142857142

Mode 


The value that occurs more frequently

In [42]:
#Mode
y = df['Age'].mode()
y

0    22
dtype: int64

MEDIAN 

The value in the middle , after you have sorted all values in ascending order

In [43]:
z = df['Age'].median()
z

34.0

PANDAS - FIXING WRONG DATA 

WRONG DATA :- This doesn't have empty cells or wrong format , it can just be wrong , like if someone registered 199 instead of 1.99

In [44]:
data = {
    'Duration':[60,60,60,45,45,60,60,450],
    'Date':['2020/12/01','2020/12/02','2020/12/03','2020/12/04','2020/12/05','2020/12/06','2020/12/07','2020/12/01'],
    'Pulse':[110,119,103,109,117,102,110,104],
    'Maxpulse':[130,145,135,175,148,1127,136,134],
    'Calories':[409.1,479.0,340.0,282.0,406.0,300.0,374.0,253.3]
}
df = pd.DataFrame(data)
df

   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    119       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.0
4        45  2020/12/05    117       148     406.0
5        60  2020/12/06    102      1127     300.0
6        60  2020/12/07    110       136     374.0
7       450  2020/12/01    104       134     253.3

In [45]:
#replacing the value 450 to 45 in 7th row
df.loc[7,'Duration'] = 45
df

   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    119       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.0
4        45  2020/12/05    117       148     406.0
5        60  2020/12/06    102      1127     300.0
6        60  2020/12/07    110       136     374.0
7        45  2020/12/01    104       134     253.3

In [46]:
df.loc[4,'Duration']

45

In [47]:
#if there is large data set 
for i in df.index:
  if df.loc[i,'Maxpulse'] >130:
    df.loc[i,'Maxpulse'] = 120

df

   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    119       120     479.0
2        60  2020/12/03    103       120     340.0
3        45  2020/12/04    109       120     282.0
4        45  2020/12/05    117       120     406.0
5        60  2020/12/06    102       120     300.0
6        60  2020/12/07    110       120     374.0
7        45  2020/12/01    104       120     253.3

In [48]:
for i in df.index:
  if df.loc[i,'Maxpulse'] == 120 :
    df.drop(i,inplace = True) 
df

   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1

In [54]:
#changing the column name 
df.rename(columns= {'Maxpulse':'MAXPULSE'},inplace = True)
df

   Duration        Date  Pulse  MAXPULSE  Calories
0        60  2020/12/01    110  MAXPULSE     409.1